nav, footer{
    background-color:#317873;
}
.navbar-brand{
    margin-left:15px;
}
.header{
    margin-bottom: 10rem;
}
.modal-content{
    background-color: #A0D6B4;
}
.btn-send{
    background-color: #45566E;
}
.about-us{
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.desc-style-1{
    align-self: center;
}
.desc-logo-style{
    background-color: #A0D6B4; 
    margin: 1rem;
}
.desc{
    text-align: justify;
}
.statis, .slide-article{
    margin-bottom: 8rem;
}
.stat-style{
    font-size: 3rem;
}
.stat-desc{
    font-size: 2rem;
}
.articles{
    width: calc(100%/3);
}
.form-footer{
    background-color: #A0D6B4;
}
.link-footer{
    color: white;
    text-decoration: dashed;
}
.subs{
    color: #317873;
}
.copyright{
    font-size: 0.7rem;
}


.article-title{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
}

.img-artikel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    max-width: 90%;
}

.isi p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: justify;
    text-indent: 4%;
    margin-top: 1em;
}

.content .row{
    margin-top: 5em;
    display: flex;
    font-style: normal;
    align-items: center;
    text-align: center;
}

.content .row strong{
    font-size: 45px;
    line-height: 58px;
}

.content .row p{
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

.row a{
    text-decoration: none;
}

.list-card-body{
    text-align: center;
    
}

.list-card-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.card-description{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.card img{
    border-radius: 10px 10px 0px 0px;
}